# Automatically created by OE
ALLOWOPTIONS 1
SERIAL 0 115200
DEFAULT Gap Serial console boot
TIMEOUT 50
PROMPT 0
ui vesamenu.c32
menu title Select kernel options and boot kernel
menu tabmsg Press [Tab] to edit, [Return] to select
LABEL Gap Serial console boot
KERNEL /bzImage
APPEND initrd=/initrd root=/dev/ram0 console=tty0 console=ttyS0,115200 usb-storage.delay_use=10 label=BOOT
LABEL Gap Serial console install
KERNEL /bzImage
APPEND initrd=/initrd root=/dev/ram0 console=tty0 console=ttyS0,115200 usb-storage.delay_use=10 label=INSTALL

