#
#ACTION!="add", GOTO ="TEND"

#SUBSYSTEMS=="usb", DRIVERS=="usb", ATTRS{speed}=="480", RUN="/etc/udev/usb-libvirt-hotplug.sh guest 0"
#SUBSYSTEMS=="usb", DRIVERS=="usb", ATTRS{speed}!="480", RUN="/etc/udev/usb-libvirt-hotplug.sh guest 1"
ACTION=="add", SUBSYSTEMS=="usb", ATTRS{speed}=="480", RUN="/lib64/udev/usb-libvirt-hotplug.sh guest 0"
ACTION=="add", SUBSYSTEMS=="usb", ATTRS{speed}!="480", RUN="/lib64/udev/usb-libvirt-hotplug.sh guest 1"

#LABEL="TEND"
